.flex-waterfalls-flow-container{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}

.flex-waterfalls-flow-container div{
  margin : 10px;
  flex-basis:auto;
}


.div-1{
  width : 100px;
  height : 100px;
  background: red;
}
.div-2{
  width : 30px;
  height : 70px;
  background: yellow;
}
.div-3{
  width : 50px;
  height : 100px;
  background: pink;
}

.div-4{
  width : 150px;
  height : 200px;
  background: green;
}